html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
button {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
    margin-bottom: 20px;
    transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    &.btn-1 {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: all 1s;
        &:after,
        &:before {
            content: " ";
            width: 10px;
            height: 10px;
            position: absolute;
            border: 0px solid #fff;
            transition: all 1s;
        }
        &:after {
            top: -1px;
            left: -1px;
            border-top: 5px solid black;
            border-left: 5px solid black;
        }
        &:before {
            bottom: -1px;
            right: -1px;
            border-bottom: 5px solid black;
            border-right: 5px solid black;
        }
        &:hover {
            color: rgba(255, 255, 255, 0.85);
            box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
            &:before,
            &:after {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.btn-2 {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: all 1s;
        &:after,
        &:before {
            content: " ";
            width: 10px;
            height: 10px;
            position: absolute;
            border: 0px solid #fff;
            transition: all 1s;
        }
        &:after {
            top: -1px;
            left: -1px;
            border-top: 5px solid black;
            border-left: 5px solid black;
        }
        &:before {
            bottom: -1px;
            right: -1px;
            border-bottom: 5px solid black;
            border-right: 5px solid black;
        }
        &:hover {
            color: rgba(255, 255, 255, 0.85);
            box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            &:before,
            &:after {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.btn-3 {
        border: 2px solid yellow;
        border-radius: 0.6em;
        color: black;
        background: {
            image: linear-gradient(45deg, yellow 50%, transparent 50%);
            position: 100%;
            size: 400%;
        }
        transition: background 300ms ease-in-out;

        &:hover {
            background-position: 0;
        }
    }
}
